# IMPORTAÃ‡Ã•ES

In [14]:
import requests
import pandas as pd

# RequisiÃ§Ã£o da API (DADOS BRUTOS)

## Users

In [18]:
response_users = requests.get('https://fakestoreapi.com/users')
data_sample_users = response_users.json()
print(data_sample_users)

[{'address': {'geolocation': {'lat': '-37.3159', 'long': '81.1496'}, 'city': 'kilcoole', 'street': 'new road', 'number': 7682, 'zipcode': '12926-3874'}, 'id': 1, 'email': 'john@gmail.com', 'username': 'johnd', 'password': 'm38rmF$', 'name': {'firstname': 'john', 'lastname': 'doe'}, 'phone': '1-570-236-7033', '__v': 0}, {'address': {'geolocation': {'lat': '-37.3159', 'long': '81.1496'}, 'city': 'kilcoole', 'street': 'Lovers Ln', 'number': 7267, 'zipcode': '12926-3874'}, 'id': 2, 'email': 'morrison@gmail.com', 'username': 'mor_2314', 'password': '83r5^_', 'name': {'firstname': 'david', 'lastname': 'morrison'}, 'phone': '1-570-236-7033', '__v': 0}, {'address': {'geolocation': {'lat': '40.3467', 'long': '-30.1310'}, 'city': 'Cullman', 'street': 'Frances Ct', 'number': 86, 'zipcode': '29567-1452'}, 'id': 3, 'email': 'kevin@gmail.com', 'username': 'kevinryan', 'password': 'kev02937@', 'name': {'firstname': 'kevin', 'lastname': 'ryan'}, 'phone': '1-567-094-1345', '__v': 0}, {'address': {'geolocation': {'lat': '50.3467', 'long': '-20.1310'}, 'city': 'San Antonio', 'street': 'Hunters Creek Dr', 'number': 6454, 'zipcode': '98234-1734'}, 'id': 4, 'email': 'don@gmail.com', 'username': 'donero', 'password': 'ewedon', 'name': {'firstname': 'don', 'lastname': 'romer'}, 'phone': '1-765-789-6734', '__v': 0}, {'address': {'geolocation': {'lat': '40.3467', 'long': '-40.1310'}, 'city': 'san Antonio', 'street': 'adams St', 'number': 245, 'zipcode': '80796-1234'}, 'id': 5, 'email': 'derek@gmail.com', 'username': 'derek', 'password': 'jklg*_56', 'name': {'firstname': 'derek', 'lastname': 'powell'}, 'phone': '1-956-001-1945', '__v': 0}, {'address': {'geolocation': {'lat': '20.1677', 'long': '-10.6789'}, 'city': 'el paso', 'street': 'prospect st', 'number': 124, 'zipcode': '12346-0456'}, 'id': 6, 'email': 'david_r@gmail.com', 'username': 'david_r', 'password': '3478*#54', 'name': {'firstname': 'david', 'lastname': 'russell'}, 'phone': '1-678-345-9856', '__v': 0}, {'address': {'geolocation': {'lat': '10.3456', 'long': '20.6419'}, 'city': 'fresno', 'street': 'saddle st', 'number': 1342, 'zipcode': '96378-0245'}, 'id': 7, 'email': 'miriam@gmail.com', 'username': 'snyder', 'password': 'f238&@*$', 'name': {'firstname': 'miriam', 'lastname': 'snyder'}, 'phone': '1-123-943-0563', '__v': 0}, {'address': {'geolocation': {'lat': '50.3456', 'long': '10.6419'}, 'city': 'mesa', 'street': 'vally view ln', 'number': 1342, 'zipcode': '96378-0245'}, 'id': 8, 'email': 'william@gmail.com', 'username': 'hopkins', 'password': 'William56$hj', 'name': {'firstname': 'william', 'lastname': 'hopkins'}, 'phone': '1-478-001-0890', '__v': 0}, {'address': {'geolocation': {'lat': '40.12456', 'long': '20.5419'}, 'city': 'miami', 'street': 'avondale ave', 'number': 345, 'zipcode': '96378-0245'}, 'id': 9, 'email': 'kate@gmail.com', 'username': 'kate_h', 'password': 'kfejk@*_', 'name': {'firstname': 'kate', 'lastname': 'hale'}, 'phone': '1-678-456-1934', '__v': 0}, {'address': {'geolocation': {'lat': '30.24788', 'long': '-20.545419'}, 'city': 'fort wayne', 'street': 'oak lawn ave', 'number': 526, 'zipcode': '10256-4532'}, 'id': 10, 'email': 'jimmie@gmail.com', 'username': 'jimmie_k', 'password': 'klein*#%*', 'name': {'firstname': 'jimmie', 'lastname': 'klein'}, 'phone': '1-104-001-4567', '__v': 0}]

## CriaÃ§Ã£o do dataframe

In [16]:
df = pd.DataFrame(data_sample_users)
df.head()

,address,id,email,username,password,name,phone,__v
0,"{'geolocation': {'lat': '-37.3159', 'long': '8...",1,john@gmail.com,johnd,m38rmF$,"{'firstname': 'john', 'lastname': 'doe'}",1-570-236-7033,0
1,"{'geolocation': {'lat': '-37.3159', 'long': '8...",2,morrison@gmail.com,mor_2314,83r5^_,"{'firstname': 'david', 'lastname': 'morrison'}",1-570-236-7033,0
2,"{'geolocation': {'lat': '40.3467', 'long': '-3...",3,kevin@gmail.com,kevinryan,kev02937@,"{'firstname': 'kevin', 'lastname': 'ryan'}",1-567-094-1345,0
3,"{'geolocation': {'lat': '50.3467', 'long': '-2...",4,don@gmail.com,donero,ewedon,"{'firstname': 'don', 'lastname': 'romer'}",1-765-789-6734,0
4,"{'geolocation': {'lat': '40.3467', 'long': '-4...",5,derek@gmail.com,derek,jklg*_56,"{'firstname': 'derek', 'lastname': 'powell'}",1-956-001-1945,0

## PRODUTOS

In [17]:
response_products = requests.get('https://fakestoreapi.com/products')
data_sample_products = response_products.json()

In [19]:
#transforma em tabela
df_produtos = pd.DataFrame(data_sample_products)

df_produtos.head()

,id,title,price,description,category,image,rating
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...,"{'rate': 3.9, 'count': 120}"
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,"Slim-fitting style, contrast raglan long sleev...",men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...,"{'rate': 4.1, 'count': 259}"
2,3,Mens Cotton Jacket,55.99,great outerwear jackets for Spring/Autumn/Wint...,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...,"{'rate': 4.7, 'count': 500}"
3,4,Mens Casual Slim Fit,15.99,The color could be slightly different between ...,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...,"{'rate': 2.1, 'count': 430}"
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,"From our Legends Collection, the Naga was insp...",jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...,"{'rate': 4.6, 'count': 400}"

## CARRINHO

In [20]:
response_carts = requests.get('https://fakestoreapi.com/carts')
data_sample_carts = response_carts.json()

data_sample_carts

[{'id': 1,
  'userId': 1,
  'date': '2020-03-02T00:00:00.000Z',
  'products': [{'productId': 1, 'quantity': 4},
   {'productId': 2, 'quantity': 1},
   {'productId': 3, 'quantity': 6}],
  '__v': 0},
 {'id': 2,
  'userId': 1,
  'date': '2020-01-02T00:00:00.000Z',
  'products': [{'productId': 2, 'quantity': 4},
   {'productId': 1, 'quantity': 10},
   {'productId': 5, 'quantity': 2}],
  '__v': 0},
 {'id': 3,
  'userId': 2,
  'date': '2020-03-01T00:00:00.000Z',
  'products': [{'productId': 1, 'quantity': 2},
   {'productId': 9, 'quantity': 1}],
  '__v': 0},
 {'id': 4,
  'userId': 3,
  'date': '2020-01-01T00:00:00.000Z',
  'products': [{'productId': 1, 'quantity': 4}],
  '__v': 0},
 {'id': 5,
  'userId': 3,
  'date': '2020-03-01T00:00:00.000Z',
  'products': [{'productId': 7, 'quantity': 1},
   {'productId': 8, 'quantity': 1}],
  '__v': 0},
 {'id': 6,
  'userId': 4,
  'date': '2020-03-01T00:00:00.000Z',
  'products': [{'productId': 10, 'quantity': 2},
   {'productId': 12, 'quantity': 3}],
  '__v': 0},
 {'id': 7,
  'userId': 8,
  'date': '2020-03-01T00:00:00.000Z',
  'products': [{'productId': 18, 'quantity': 1}],
  '__v': 0}]

In [21]:
df_carts = pd.DataFrame(data_sample_carts)

df_carts.head()

,id,userId,date,products,__v
0,1,1,2020-03-02T00:00:00.000Z,"[{'productId': 1, 'quantity': 4}, {'productId'...",0
1,2,1,2020-01-02T00:00:00.000Z,"[{'productId': 2, 'quantity': 4}, {'productId'...",0
2,3,2,2020-03-01T00:00:00.000Z,"[{'productId': 1, 'quantity': 2}, {'productId'...",0
3,4,3,2020-01-01T00:00:00.000Z,"[{'productId': 1, 'quantity': 4}]",0
4,5,3,2020-03-01T00:00:00.000Z,"[{'productId': 7, 'quantity': 1}, {'productId'...",0

# DADOS

## CAMADA BRONZE - Salvar dados brutos

In [22]:
import os

# Cria pastas se nÃ£o existirem
os.makedirs('dados/bronze', exist_ok=True)

# Salva dados brutos em JSON
df_produtos.to_json('dados/bronze/products_raw.json', orient='records', indent=2)
df.to_json('dados/bronze/users_raw.json', orient='records', indent=2)
df_carts.to_json('dados/bronze/carts_raw.json', orient='records', indent=2)

print('âœ… Dados salvos na camada BRONZE!')

âœ… Dados salvos na camada BRONZE!

## CAMADA SILVER - Limpar e organizar

Nova seÃ§Ã£o no notebook

In [ ]:

os.makedirs('dados/silver', exist_ok=True)

# Limpar produtos (exemplo simples)
df_produtos_limpo = df_produtos.copy()
df_produtos_limpo['price'] = df_produtos_limpo['price'].round(2)
df_produtos_limpo['title'] = df_produtos_limpo['title'].str.title()

# Salvar
df_produtos_limpo.to_csv('dados/silver/products_clean.csv', index=False)

print('âœ… Dados salvos na camada SILVER!')

âœ… Dados salvos na camada SILVER!

## Limpar Users

In [24]:
#limpar usuarios
df_users_limpo = df.copy()
df_users_limpo['email'] = df_users_limpo['email'].str.lower()
df_users_limpo['username'] = df_users_limpo['username'].str.lower()

# Salvar
df_users_limpo.to_csv('dados/silver/users_clean.csv', index=False)
print('âœ… UsuÃ¡rios limpos!')

âœ… UsuÃ¡rios limpos!

## Limpar carts

In [25]:
#limpar carrinho
df_carts_limpo = df_carts.copy()
df_carts_limpo['date'] = pd.to_datetime(df_carts_limpo['date'])

# Salvar
df_carts_limpo.to_csv('dados/silver/carts_clean.csv', index=False)

print('âœ… Carrinhos limpos!')

âœ… Carrinhos limpos!

#  CAMADA GOLD - AnÃ¡lises

## Produtos por categoria quant/preMed

In [ ]:
#analise 1

os.makedirs('dados/gold', exist_ok=True)

# AnÃ¡lise: Produtos por categoria
produtos_por_categoria = df_produtos_limpo.groupby('category').agg({
    'id': 'count',
    'price': 'mean'
}).rename(columns={'id': 'quantidade', 'price': 'preco_medio'})

# Salvar anÃ¡lise
produtos_por_categoria.to_csv('dados/gold/produtos_por_categoria.csv')

print('âœ… AnÃ¡lise salva na camada GOLD!')
produtos_por_categoria

## 5 produtos mais caros

In [ ]:
# AnÃ¡lise 2: Top 5 produtos mais caros
top_5_caros = df_produtos_limpo.nlargest(5, 'price')[['title', 'price', 'category']]
top_5_caros.to_csv('dados/gold/top_5_produtos_caros.csv', index=False)

print('ðŸ’Ž Top 5 produtos mais caros:')
top_5_caros

## PreÃ§o medio categoria

In [ ]:
# AnÃ¡lise 3: PreÃ§o mÃ©dio por categoria
preco_medio_categoria = df_produtos_limpo.groupby('category')['price'].mean().round(2)
preco_medio_categoria.to_csv('dados/gold/preco_medio_por_categoria.csv')

print('ðŸ’Ž PreÃ§o mÃ©dio por categoria:')
preco_medio_categoria

## total de usuarios

In [ ]:
# AnÃ¡lise 4: Total de usuÃ¡rios
total_usuarios = len(df_users_limpo)

resumo_geral = {
    'total_produtos': len(df_produtos_limpo),
    'total_usuarios': total_usuarios,
    'total_carrinhos': len(df_carts_limpo),
    'preco_medio_produtos': df_produtos_limpo['price'].mean().round(2)
}

# Salvar resumo
pd.Series(resumo_geral).to_csv('dados/gold/resumo_geral.csv')

print('ðŸ’Ž Resumo geral:')
resumo_geral

## AnÃ¡lises com JOIN (juntando dados)

##  Explodir carrinhos

In [ ]:
# Cada carrinho tem vÃ¡rios produtos, vamos separar
df_carts_explodido = df_carts_limpo.explode('products').reset_index(drop=True)

# Extrair productId e quantity de dentro do dicionÃ¡rio
df_carts_explodido['productId'] = df_carts_explodido['products'].apply(lambda x: x['productId'])
df_carts_explodido['quantity'] = df_carts_explodido['products'].apply(lambda x: x['quantity'])

print(f'âœ… Carrinhos explodidos: {len(df_carts_explodido)} linhas')
df_carts_explodido.head()

## Juntar carrinhos com produtos

In [ ]:
# JOIN: carrinhos + produtos
df_vendas = df_carts_explodido.merge(
    df_produtos_limpo[['id', 'title', 'price', 'category']], 
    left_on='productId', 
    right_on='id',
    how='left'
)

# Calcular valor total de cada item
df_vendas['total'] = df_vendas['price'] * df_vendas['quantity']

print(f'âœ… Dados de vendas criados: {len(df_vendas)} linhas')
df_vendas.head(10)

## Produtos mais vendidos

In [ ]:
# Agrupar por produto
produtos_mais_vendidos = df_vendas.groupby('title').agg({
    'quantity': 'sum',
    'total': 'sum'
}).sort_values('quantity', ascending=False).head(10)

# Salvar
produtos_mais_vendidos.to_csv('dados/gold/produtos_mais_vendidos.csv')

print('ðŸ’Ž TOP 10 produtos mais vendidos:')
produtos_mais_vendidos

## Faturamento por categoria

In [ ]:
# Faturamento por categoria
faturamento_categoria = df_vendas.groupby('category')['total'].sum().sort_values(ascending=False)

# Salvar
faturamento_categoria.to_csv('dados/gold/faturamento_por_categoria.csv')

print('ðŸ’Ž Faturamento por categoria:')
faturamento_categoria

## AnÃ¡lise de usuÃ¡rios (quanto cada um gastou)

In [ ]:
# Juntar vendas com usuÃ¡rios
df_vendas_usuarios = df_vendas.merge(
    df_users_limpo[['id', 'username', 'email']], 
    left_on='userId', 
    right_on='id',
    how='left'
)

# Calcular gasto total por usuÃ¡rio
gasto_por_usuario = df_vendas_usuarios.groupby('username')['total'].sum().sort_values(ascending=False).head(10)

# Salvar
gasto_por_usuario.to_csv('dados/gold/top_10_usuarios_gastadores.csv')

print('ðŸ’Ž TOP 10 usuÃ¡rios que mais gastaram:')
gasto_por_usuario

## Resumo final do negÃ³cio

In [43]:
# MÃ©tricas principais
resumo_negocio = {
    'total_vendas_reais': df_vendas['total'].sum().round(2),
    'ticket_medio': (df_vendas['total'].sum() / df_vendas['userId'].nunique()).round(2),
    'produtos_vendidos': int(df_vendas['quantity'].sum()),
    'carrinhos_finalizados': df_vendas['userId'].nunique(),
    'usuarios_ativos': df_vendas['userId'].nunique()
}

# Salvar
pd.Series(resumo_negocio).to_csv('dados/gold/resumo_negocio.csv')

print('ðŸ’Ž RESUMO DO NEGÃ“CIO:')
for key, value in resumo_negocio.items():
    print(f'{key}: {value}')

ðŸ’Ž RESUMO DO NEGÃ“CIO:
total_vendas_reais: 4691.27
ticket_medio: 938.25
produtos_vendidos: 42
carrinhos_finalizados: 5
usuarios_ativos: 5